body {
  margin: 0;
  background-color: khaki;
  font-family: "Arial";
}
.App {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  align-content: start;
  gap: 4em;
  border-radius: 2em 2em 0 0;
  max-width: 500px;
  height: 98vh;
  margin: 0 auto;
  background-color: white;
}
.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.loading-screen h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gameover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.gameover .gameover-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}
.gameover .action {
  margin-top: 4em;
}
.gameover .action .btn-retry {
  background-color: tomato;
  font-size: 1.2rem;
  color: white;
}
.home {
  width: 100%;
  display: grid;
  margin-top: 2em;
}
.home .title {
  display: flex;
  justify-content: center;
}
.home .title .title-img {
  width: 100%;
}
.home .img-container {
  width: 16em;
  height: 16em;
  margin: 0 auto;
}
.home .home-img {
  width: 100%;
  filter: brightness(0);
  animation: home-img 0.2s ease-in-out alternate infinite;
}
.pokemon-img {
  width: 12em;
  height: 12em;
  border: 1px solid;
  border-radius: 1em;
  background-color: white;
  margin: 0 auto;
}
.pokemon-img .img {
  height: 100%;
  filter: brightness(1);
}
.pokemon-img .hidden {
  filter: brightness(0);
}
.score-board {
  margin-top: 2em;
  border-top: 4px solid khaki;
  border-bottom: 4px solid khaki;
  background-color: tomato;
  padding: 0.5em 0;
  text-align: center;
  box-shadow: -1px 12px 24px -3px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: -1px 12px 24px -3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -1px 12px 24px -3px rgba(0, 0, 0, 0.41);
}
.score-board h3 {
  font-size: 2rem;
  color: white;
  margin: 0;
}
.answer-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn {
  border: 2px solid tomato;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  text-align: center;
  box-shadow: 10px 10px 29px -16px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 10px 29px -16px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 29px -16px rgba(0, 0, 0, 1);
}
.btn-play {
  font-size: 2rem;
  background-color: tomato;
  color: white;
  letter-spacing: 3px;
  max-width: 200px;
  margin: 0 auto;
}
.btn-answer {
  font-size: 1.4rem;
  width: 7em;
  margin: 1em 0.5em;
  color: tomato;
  font-weight: bold;
  background-color: lightgoldenrodyellow;
}
.btn-answer.revealed {
  background-color: red;
  color: white;
  border: 2px solid;
}
.btn-answer.correct {
  background-color: green;
}

@keyframes home-img {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
